<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      p{
        color: red;
        text-align:center;
      }

      .btn {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 12px 20px;
      font-size: 16px;
      cursor: pointer;
      margin-left: 650px;
      }

      /* Darker background on mouse-over */
      .btn:hover {
      background-color: RoyalBlue;
      }

    </style>
  </head>
  <body>
    <p>student {{name}} has been deleted</p>
      <a href="/index">  <button class="btn"><i class="fa fa-close"></i> Close</button></a>
  </body>
</html>
